__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store

data/interim/
data/processed/
models/checkpoints/
models/final/*
!models/final/.gitkeep
!models/final/best_model.joblib
!models/final/training_metrics.json
results/
